import React from "react";
import {applyContainerQuery} from "react-container-query";
import Slider from "./Slider";
import Grid from "./Grid";

export default applyContainerQuery(class Content extends React.Component {
  render() {
    return (
      <div>
        {this.props.containerQuery.small
            ? <Slider data={this.props.data} />
            : <Grid data={this.props.data} />}
      </div>
    );
  }
}, {
  'small': {
    maxWidth: 599
  }
});
